<nav class='navbar navbar-expand-lg bg-body-tertiary'>
	<div class='container-fluid'>

		<div class='collapse navbar-collapse' id='navbarSupportedContent'>
			<ul class='navbar-nav me-auto mb-2 mb-lg-0'>
				<li class='nav-item'>
					<a class='nav-link active' href='/'>Poly Book Store</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='/admin/add'>Thêm mới</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='/admin/products'>Danh sách sản phẩm</a>
				</li>

			</ul>

		</div>
	</div>
</nav>

<div class='container mt-4'>
	<table class='table'>
		<thead class='thead-dark'>
			<tr>
				<th scope='col'>#</th>
				<th scope='col'>Tên sản phẩm</th>
				<th scope='col' style='width:30%'>Hình ảnh</th>
				<th scope='col'>Giá</th>
				<th scope='col'>Sửa</th>
				<th scope='col'>Xóa</th>
			</tr>
		</thead>
		<tbody>
			{{#each products}}
			<tr>
				<th scope='row'>{{this.idProduct}}</th>
				<td>{{this.nameProduct}}</td>
				<td>
					<img class='w-25 h-25 object-fit-cover' src={{this.images}} alt='' />
				</td>
				<td>{{this.priceProduct}}</td>
				<td>
					<a style="color: #fff;" href="products/edit/{{this.idProduct}}" class='btn btn-primary'>Sửa</a>
				</td>
				<td>
					<a class='btn-delete btn btn-danger' data-id={{this.idProduct}}>Xóa</a>
				</td>
			</tr>
			{{/each}}

		</tbody>
	</table>
	<form method='POST' name='delete-form'></form>
</div>

<script>
	window.addEventListener("DOMContentLoaded", function () {
		const btnDeletes = document.querySelectorAll('.btn-delete');
		const fromDelete = document.forms['delete-form'];
		btnDeletes.forEach((btnDelete) => {
			btnDelete.addEventListener('click', (e) => {
				const id = e.target.dataset.id;
				fromDelete.action = `products/${id}?_method=DELETE`;
				fromDelete.submit();
			})
		})
	})

</script>

{{!-- action='admin/delete/{{this.idProduct}}?_method=DELETE' --}}